<div class="input">
    <input type="text" class="input_field" name="newSong" autocomplete="off" required />
    <label class="input_label">What's the song called?</label>
</div>
<div class="input">
    <input type="text" class="input_field" name="newArtist" required />
    <label class="input_label">Who made the song?</label>
</div>
<div class="card_btn">
    <button class="btn btn-primary" type="submit">Share</button>
</div>
