<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="js/social.js"></script>
<script src="js/landing.js"></script>
<script src="js/add.js"></script>
</body>
</html>