<%- include('partials/header') %>
    <link rel="stylesheet" href="css/social.css">
    <title>Hit Me Up</title>
</head>
<body>

<section>
    <div class="card" data-tilt data-tilt-glare data-tilt-max-glare="0.8" data-tilt-scale="1.1">
        <center>
            <img src="images/ceo.jpg" alt="image">
            <h2>SNOWFLAKE</h2>
            <p>
                Algorithm: Word used by programmers when they don’t want to explain what they did.
            </p>
            <p>
                Programmer with a good, though twisted, sense of humor....
            </p>
            <a href="https://github.com/wain-aina" target="_blank"><button style="background: #000;"><i class="fab fa-github"></i></button></a>
            <a href="https://twitter.com/its_brancko" target="_blank"><button style="background: #1DA1F2;"><i class="fab fa-twitter"></i></button></a>
            <a href="https://www.instagram.com/_thecodefather/" target="_blank"><button style="background: #e4405f;"><i class="fab fa-instagram"></i></button></a>
            <a href="https://wa.me/0718123905" target="_blank"><button style="margin-right: 0; background: #25D366;"><i class="fab fa-whatsapp"></i></button></a>

        </center>
    </div>
</section>

<%- include('partials/footer') %>